:root {
  --background-color: #fff;
  --text-color: #000;
  --background-image: radial-gradient(#444cf7 2px, #e5e5f7 2px);

}

[data-theme="dark"] {
    --background-color: #3F3F3F;
    --text-color: #fff;
    --background-image: radial-gradient(#444cf7 2px, #18181a 2px);

  }

body {
  background-color: var(--background-color);
  color: var(--text-color);
  opacity: 0.8;
  background-color: #e5e5f7;
  opacity: 0.8;
  background-image: var(--background-image);
  background-size: 40px 40px;
  font-family: "Hina Mincho", serif;
}

.toogle-theme {
  width: 50px;
  text-align: center;
  position: relative;
  margin-left: 80%;
}

.container {
  text-align: center;
  margin: auto;
}

h1 {
  margin-top: 0;
  font-size: 3rem;
  margin-bottom: 0;
}
h4 {
  margin: 0;
}

.round {
  border-radius: 12px;
  background-color: #444cf7;
}

.calculator {
  display: inline-block;
  padding: 10px;
  backdrop-filter: blur(1px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

table {
  margin: auto;
}

input {
  font-size: 2rem;
  width: 260px;
  height: 100px;
  border: 2px solid;
  border-radius: 12px;
}

.equal, .oper, .num {
  font-size: 1.8rem;
  background-color: chartreuse;
  width: 64px;
  height: 64px;
  border-radius: 12px;
}

.num {
  background-color: #e0e0e0;
}

.oper {
  background-color: #eb7419;
}


/* Slider CSS */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(9, 146, 9);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



[type="checkbox"]:checked {
  transform: translateX(100%);
  background: #000;
}
